/*CSS DA LINHA DO TEMPO DA PÃGINA PROJETO*/
.text-center{
  text-align: center !important;
}
.section-heading{
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: FFF;
} 
.text-uppercase{
  text-transform: uppercase !important;
}

.section-subheading {
  font-size: 1rem;
font-weight: 400;
font-style: italic;
font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin-bottom: 3rem;
}

.text-muted{
  --bs-text-opacity: 1;
color: #6c757d !important;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rounded-circle{
  border-radius: 50% !important;
} 

.img-fluid{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: #000;
}

.subheading{
  text-transform: none;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #C1353F;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }

  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
 
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }

/*MEU CSS*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: white;

}


.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    padding-right: 100px;

}

.cabecalho-menu-item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #C1353F;

}

.conteudo {
    border-top: 0.9px solid brown;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
}

.conteudo2{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 40px;
    margin-left: 200px;
    margin-right: 200px;
    


}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    color:rgb(77, 73, 73)

}

.conteudo-principal-escrito {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    gap: 32px;
    padding: 40px;
}

.conteudo-principal-escrito-titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: justify;
    color: #C1353F;
}

.titulo-nome{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: justify;
    color: #C1353F;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 1px;
}
.conteudo-principal-escrito-subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-size: 16px;
    text-align: justify;
}

.conteudo-principal-imagem{
    border-radius: 50%;
    padding-top: 70px;
    padding-right: 70px;
    padding-left: 30px;
    height: 430px;
}


.conteudo-terceario{
    padding-top: 202px;
    flex-direction: column;
    align-items: left;
}


.aside-background-color{
  background-color: #C1353F;
}